<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>225902872888-bp8llbtpj7lvhk2d6hd5an5funi5qk3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225902872888-bp8llbtpj7lvhk2d6hd5an5funi5qk3g</string>
	<key>API_KEY</key>
	<string>AIzaSyCsuQuKh-gg1F99G4hu6dEmYyYkr0aJo0s</string>
	<key>GCM_SENDER_ID</key>
	<string>225902872888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rapidBizApps.BreakTime</string>
	<key>PROJECT_ID</key>
	<string>breaktime-fa190</string>
	<key>STORAGE_BUCKET</key>
	<string>breaktime-fa190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:225902872888:ios:e4bddab3510ff4a5</string>
	<key>DATABASE_URL</key>
	<string>https://breaktime-fa190.firebaseio.com</string>
</dict>
</plist>